#scala
*.class
/.worksheet
/.target

#play
logs
project/project
project/target
target
tmp
.history
dist
bin
conf/prod.conf

#intellij
/.idea
/*.iml
/out
/.idea_modules
/RUNNING_PID


# eclipse
/.cache
/.classpath
/.project
/.settings
