# scala
*.class

# sbt
.target

# play
logs
project/project
project/target
target
tmp
dist
bin
conf/prod.conf
RUNNING_PID

# eclipse
.cache
.classpath
.project
.settings
.history
.worksheet

# xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
*.moved-aside
DerivedData

# os x
.DS_Store
profile
